<div class="about-section">
  <h2>Hey there!</h2>
  <p>
    my name is noa and this is actually my very first angular project I have ever created.
    Well, it is not really a project to be honest just a demo test app for me to play aroud with and explore the
    framework.
  </p>
  <p>
    At the moment I am trying to get the essentials done, though I have done quite a lot of web-development
    the last couple of years concerning obviously HTML, CSS and JavaScript (and a little bit of React)
  </p>

  <div class="tech-section">
    <div class="tech-wrapper">
      <div class="tech-element">
        <img src="https://s2.svgbox.net/files.svg?ic=html" alt="html">
      </div>
      <div class="tech-element">
        <img src="https://s2.svgbox.net/files.svg?ic=css" alt="css">
      </div>
      <div class="tech-element">
        <img src="https://s2.svgbox.net/files.svg?ic=js" alt="js">
      </div>
      <div class="tech-element react">
        <img class="react" src="https://s2.svgbox.net/files.svg?ic=reactjs" alt="react">
      </div>
      <div class="tech-element">
        <img class="uncompleted" src="https://s2.svgbox.net/files.svg?ic=angular" alt="angular">
      </div>
    </div>
  </div>
  <p>
    So I think it should not take to long for me to long to get comfortable with the angular I already really like how
    well the structure of angular itself is build and organised especially the clean seperation of concerns.
  </p>
</div>
