
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #080808;
  padding: 0.7em 1.5rem;
  user-select: none;
}

.header img {
  width: 35px;
  cursor: pointer;
}

.header .links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header .links span {
  color: #FFFFFF;
  padding: 5px;
  font-size: 0.9rem;
}

.header .links span.active {
  color: #a9a9a9;
}

.header .links span:hover {
  cursor: pointer;
  color: #ffffffc1;
}
